R02/data.h5 filter=lfs diff=lfs merge=lfs -text
R03/data.h5 filter=lfs diff=lfs merge=lfs -text
R04/data.h5 filter=lfs diff=lfs merge=lfs -text
R05/data.h5 filter=lfs diff=lfs merge=lfs -text
R06/data.h5 filter=lfs diff=lfs merge=lfs -text
R01/data.h5 filter=lfs diff=lfs merge=lfs -text
